<!DOCTYPE html>
<html ng-app="clApp">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/css/app.css">
<head>
	<title>Keep LA Flourishing</title>
	<meta name="description" content="Get outside and indulge in LA's fresh produce and lush parks. This map will help you plan your next trip to a farmer's market and show you the closest park where you can enjoy your newly purchased fruits and veggies. Happy Earth Day!"/>
	<meta
	    name="viewport"
	    content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4NTX0Kt64oC3zmysTH6fwWS57M9Uy3ms"
  type="text/javascript"></script>
	<script src="ng-map.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="mainCtrl">

<div class="header" ui-sref="home">
	<img src="assets/img/icons/title.svg">
</div>

<div id ="home "class="schedule fade" ng-show="active=='home'">
	<div class="schedule__table">
        <div
            ng-click="goto('map', timeslot)"
            class="schedule__timeslots"
            ng-repeat="timeslot in timeslots">
            <img src="assets/img/icons/{{timeslot.icon}}.svg">
            <p>
                {{timeslot.title}}
            </p>
            <p class="schedule__info">
                <img src="assets/img/icons/warning.svg">
                <img src="assets/img/icons/placeholder.svg" ng-if="timeslot.map">
            </p>
        </div>
    </div>
</div>

<div id="map" class="map__parent fade" ng-show="active=='map'">
	<div class="map">
	    <div class="map__container" >
	        <div
	            class="map__map"
	            ng-show="showMap">
	            <ng-map
	                default-style="true"
	                center="[33.86, -118.40]"
	                styles="{{mapStyle}}">
	                    <info-window id="myInfoWindow">
	                        <div ng-non-bindable>
	                            <p id="firstHeading" class="firstHeading">
	                                {{infoName}}
	                            </p>
	                            <p class="firstDescription">
	                                {{infoAddy1}}<br>{{infoAddy2}}
	                            </p>
	                        </div>
	                      </info-window>
	            </ng-map>
	        </div>
	        <div class="map__tip">
	            <img class="map__icon" src="assets/img/icons/{{icon}}.svg"/>
	            <h2>{{title}}</h2>
	            <p>{{info}}</p>
	            <p ng-show="url"><a href="{{url}}" target="_blank">{{url}}</p>
	            <p><a class="backButton" ng-click="goto('home')">Go Back</a></p>
	        </div>
	    </div>
	</div>
</div>


<div id="about" class="about fade" ng-show="active=='about'">
	<h1>About the Project {{name}}</h1>
    <p>This project is a collboration between the City of LA and <a href="http://uclacreatives.com" target="_blank">Creative Labs</a> at UCLA to celebrate Earth Day. It encourages the people of Los Angeles to keep LA thriving by showing them various initiatives by the city they can join. It also showcases some data collected by the LA City Open Data Initiative that shows the people how they can take a moment to enjoy the beautiful mother Earth. Hope you enjoy it! <u><a ng-click="goto('home')">Click here to go back to see tips</a></u></p>
    <p><b>Credits:</b><br>
    <a href="https://rosalind-chang.myportfolio.com/" target="_blank">Rosalind Chang</a>, 
    <a href="http://alison-jeng.com/" target="_blank">Alison Jeng</a>, 
    <a href="http://rishabhaggarwal.net/" target="_blank">Rishabh Aggarwal</a>
    </p>
    <p>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    <p>Icons made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
</div>

<div class="earth">
	<div
        class="earth_elem"
        ng-include="'assets/img/EARTHDAY.svg'"></div>
</div>

<div class="footer" ng-click="goto('about')">
    About the project
</div>


</body>
</html>